body::-webkit-scrollbar {
  display: none;
}
table {
  color: black;
  border-collapse: collapse;
}
table th {
  background-color: #ccc;
  height: 2rem;
  color: black;
  font-weight: 500;
}
.tub {
  width: 20rem;
  margin: 1rem auto;

  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0.3rem 0.3rem 0.8rem rgba(48, 45, 45, 0.188);
}
.tub label {
  color: rgb(34, 34, 34);
  font-weight: 600;
  width: 10px;
  text-transform: capitalize;
}
.tub p {
  position: relative;
  display: flex;
  right: -9rem;
  top: -2rem;
}
